/*------------------------------------ APP -----------------------------------*/
.App {
  background-color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-size: 15px;
}

h2 {
  margin-top: 20px;
}

/*----------------------------------- MAIN -----------------------------------*/
.main {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

/*--------------------------------- HEADER -----------------------------------*/
.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*----------------------------------- MAP ------------------------------------*/
.map-chart {
  overflow: hidden;
}

/*---------------------------------- NAVBAR ----------------------------------*/
.tab {
  background-color: #1a1a1a;
  width: 100%;
}

.tab-btn {
  transition: 0.4s;
  border: none;
  cursor: pointer;
  padding: 15px 17px 15px 17px;
  background-color: inherit;
  float: left;
  color: #fff;
}

.tab-btn:hover {
  color: #00db8e;
}

.tab-active {
  outline: none;
  transition: 0.4s;
  border: none;
  cursor: pointer;
  padding: 15px 17px 15px 17px;
  background-color: #747474;
  float: left;
  color: #fff;
}

/*---------------------------------- SIDEBAR ---------------------------------*/
.sidebar-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
}
.sidebar-left {
  width: 500px;
  overflow: hidden;
  position: relative;
}

.sidebar-right {
  display: flex;
  flex-grow: 1;
}

.sidebar-left .close {
  position: absolute;
  color: white;
  top: 15px;
  right: 15px;
  padding: 3px 10px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 2px;
  transform: scaleY(0.8);
}

.sidebar-left .close:hover {
  background: lightgrey;
}

.sidebar {
  background-color: grey;
  height: auto;
  padding: 30px;
  height: 100%;
}
