/*------------------------------------ FONTS ----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap');
/*----------------------------------- GENERAL ---------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100vh;
}

#loadingText {
  font-family: 'Baloo 2', cursive;
  color: lightgrey;
  font-weight: 300;
  font-size: 4rem;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

/*------------------------------------ APP -----------------------------------*/

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-size: 15px;
}

h2 {
  margin-top: 20px;
}

button:focus {
  outline-style: none;
}

/*----------------------------------- MAIN -----------------------------------*/

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

/*--------------------------------- HEADER -----------------------------------*/

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*----------------------------------- MAP ------------------------------------*/

.map-chart {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.map-chart:active {
  cursor: all-scroll;
}

.map-chart>svg {
  height: 100%;
  width: 100%;
}

/*---------------------------------- NAVBAR ----------------------------------*/

.tab {
  background-color: #1a1a1a;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: auto;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.navbar * {
  margin: 0;
}

.appTitle>h4 {
  font-family: 'Baloo 2', cursive;
  color: #f5f5f5;
  font-size: 1.7rem;
  font-weight: 400;
  padding: 2px 26px 0 27px;
  animation: fadeInDownwards ease 800ms;
  -webkit-animation: fadeInDownwards ease 800ms;
  -moz-animation: fadeInDownwards ease 800ms;
  -o-animation: fadeInDownwards ease 800ms;
  -ms-animation: fadeInDownwards ease 800ms;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.verticalBar {
  width: 1px;
  background-color: #8c8c8c;
  height: 60%;
  margin-right: 15px;
}

.year-selector {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  width: auto;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.tab-btn {
  transition: 0.4s;
  width: 3.1vw;
  min-width: 48px;
  height: 45px;
  border: none;
  cursor: pointer;
  padding: 15px 0 15px 0;
  background-color: transparent;
  float: left;
  color: #fff;
}

.tab-btn:hover {
  background-color: #219AF3;
}

.tab-active {
  outline: none;
  transition: 0.4s;
  width: 3vw;
  min-width: 48px;
  height: 45px;
  border: none;
  cursor: pointer;
  padding: 15px 0 15px 0;
  float: left;
  color: #fff;
  background-color: #219AF3;
}

.tab-active:active {
  background-color: #0a75c2;
}

.tab-nav-btn {
  transition: 0.4s;
  width: 100px;
  font-size: 13px;
  font-weight: 500;
  height: 45px;
  border: none;
  cursor: pointer;
  padding: 15px 0 15px 0;
  background-color: transparent;
  float: left;
  color: #fff;
}

.tab-nav-btn:hover {
  background-color: #219AF3;
}

.tab-nav-active {
  outline: none;
  transition: 0.4s;
  width: 100px;
  font-size: 13px;
  font-weight: 500;
  height: 45px;
  border: none;
  cursor: pointer;
  padding: 15px 0 15px 0;
  float: left;
  color: #fff;
  background-color: #219AF3;
}

.tab-active:active {
  background-color: #0a75c2;
}

/*---------------------------------- SIDEBAR ---------------------------------*/

.sidebar-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
}

.sidebar-left {
  height: 100%;
  width: 500px;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  top: 0;
}

.sidebar-right {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.sidebar-left .close {
  position: absolute;
  color: white;
  background-color: #0b84da;
  height: 120px;
  width: 30px;
  top: 45px;
  left: 470px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: 300ms;
}

.close svg {
  color: #e7f4fe;
}

.sidebar-left .close:hover {
  background-color: #0a75c2;
}

.sidebar-left .close:active {
  background-color: #0967aa;
}

.sidebar {
  max-height: 100vh;
  min-height: 100vh;
  ;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.countryNameContainer {
  max-width: 500px;
  min-width: 470px;
  height: 120px;
  padding-left: 30px;
  background-color: #219AF3;
  display: flex;
  align-items: center;
  position: fixed;
  top: 45px;
}

.countryNameContainer>img {
  margin-right: 30px;
  height: 90px;
  width: auto;
}

.countryNameContainer>h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 3rem;
}

.sidebarContent {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 20vh;
  max-height: 70vh;
  padding: 195px 30px 0 20px;
}

.sidebarContent::-webkit-scrollbar {
  display: none;
}

.sidebarContent h5 {
  font-weight: 300;
  text-align: center;
}

.indicatorContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.indicatorContainer h2 {
  font-weight: 300;
  z-index: 2000;
}

.indicatorContainer div {
  width: 210px;
}

.sidebar>div:last-of-type {
  padding-bottom: 100px;
}

.notAvailable {
  text-align: center;
  margin: 144px 10px 144px 10px;
  opacity: 0.5;
}

/*----------------------------------- ABOUT ----------------------------------*/
.people-container {
  margin-bottom: 40px;
}

.people-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-container {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 5px solid #A379C9;
}

.img-container > img {
  width: inherit;
  height: inherit;
  border-radius: 100px;
}

.info-container {
  padding: 20px;
}

.info-container .name {
  font-size: 1em;
}

.info-container .mail {
  font-size: .6em;
  margin-top: 5px;
}

.sidebarContent .footer {
  font-size: .6em;
}

.link {
  color: #fff;
}

/*--------------------------------- AUTOPLAY ---------------------------------*/

.auto-play {
  position: absolute;
  font-size: 13px;
  transition: 0.4s;
  cursor: pointer;
  padding: 15px 17px 15px 17px;
  background-color: transparent;
  top: 0;
  right: 0;
  float: right;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/*--------------------------------- EFFECTS ----------------------------------*/

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDownwards {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInDownwards {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDownwards {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInDownwards {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeInDownwards {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
  }
}